/* home styles */

.animated-text {
  white-space: nowrap;
  display: inline-block;
  animation: moveTextLeftToRight 30s linear infinite;
}
.animated-text2 {
  white-space: nowrap;
  display: inline-block;
  animation: moveTextRightToLeft 30s linear infinite;
}

@keyframes moveTextLeftToRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes moveTextRightToLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.item {
  padding: 1rem 1rem !important;
}

.grad_text {
  /* BASEBAG TRADING */

  font-family: "CCMaladroit W00 Bold" !important;
  font-style: normal !important;
  font-weight: 700 !important;
  text-align: center !important;
  background: linear-gradient(
    180deg,
    #2e5ff3 5%,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important ;
  background-clip: text !important;
}
.wrapper {
  padding: 5rem 1rem;
  position: relative;
}
.heading {
  width: 700px;
}
.gif1 {
  width: 380px;
}
.lottie {
  width: 59px !important;
  margin-top: 5rem;
  cursor: pointer;
}
.memeWrapper {
  display: flex !important;
  background-color: #2e5ff3 !important;
}
.element1 {
  position: absolute;
  top: 0;
  width: 320px;
  right: 0;
}
.element2 {
  position: absolute;
  left: 0;
  width: 130px;
  bottom: 0% !important;
}
.element3 {
  position: absolute;
  right: 0;
  top: 0;
  width: 330px;
  z-index: -9;
}
.element4 {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 330px;
  z-index: -99;
}
.element5 {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.element51 {
  display: none;
}

@media screen and (min-width: 1600px) {
  .heading {
    width: 900px;
  }
  .element1 {
    position: absolute;
    top: 0;
    width: 520px;
    right: 0;
  }
  .element2 {
    position: absolute;
    left: 0;
    width: 170px;
  }
}
@media screen and (max-width: 900px) {
  .element1 {
    position: absolute;
    top: 0;
    width: 130px;
    right: 0px;
  }
  .element2 {
    position: absolute;
    left: 0;
    width: 60px;
  }
  .element3 {
    width: 190px;
  }
  .element4 {
    width: 190px;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    width: 500px;
  }
  .gif1 {
    width: 230px;
  }
  .lottie {
    width: 39px !important;
    margin-top: 5rem;
  }
  .element1 {
    position: absolute;
    top: 0;
    width: 130px;
    right: 0px;
  }
  .element2 {
    position: absolute;
    left: 0;
    width: 60px;
  }
  .element3 {
    width: 130px;
  }
  .element4 {
    width: 130px;
  }
}
@media screen and (max-width: 430px) {
  .wrapper {
    padding: 5rem 1rem 1rem;
    position: relative;
  }
  .heading {
    width: 300px;
  }
  .gif1 {
    width: 230px;
  }
  .lottie {
    width: 39px !important;
    margin-top: 5rem;
  }
  .element1 {
    position: absolute;
    top: 0;
    width: 130px;
    right: 0;
  }
  .element2 {
    position: absolute;
    left: 0;
    width: 60px;
    bottom: 70px;
  }
  .element3 {
    width: 130px;
  }
  .element4 {
    width: 130px;
  }
  .element5 {
    display: none;
  }
  .element51 {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
